*
{
    margin: 0;
    padding: 0;

}

.title
{
    font-family: sans-serif;
    padding: 20px;
}

.title h1
{
    font-size: 20px;
    padding: 10px 0;
}
.title p
{
    font-size: 15px;
    padding: 10px 0;
}

.btn
{
    padding-top: 10px !important;
}
.buttons {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}